<div class="container">
  <img
    src="https://drive.google.com/uc?export=view&id=1hvRAGrdq0SqFBZApx2--IcuDf-DOmOBH"
    alt="Wissen Logo"
  />
  <div class="col-12 col-md-6 col-lg-8 col-sm-4">
    <h3 class="h6 mt-1 mb-4">Hello there, Sign in to continue</h3>

    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row g-0 mb-1">
          <label for="email" class="form-label col-6">Username/Email</label>
          <input
            class="form-control"
            id="email"
            formControlName="email"
            type="email"
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.required" class="error-label">
              Email is Required
            </div>
            <div *ngIf="email.errors?.email" class="error-label">
              Please provide valid email id
            </div>
          </div>
          <!-- <label>
              Username is required
            </label> -->
        </div>
        <div class="row g-0 mb-1">
          <label for="password" class="form-label col-6">Password</label>
          <div class="input-group position-relative">
            <input
              class="form-control"
              id="password"
              [type]="show ? 'password' : 'text'"
              formControlName="password"
            />
            <span class="position-absolute bottom-0 end-0 translate-middle">
              <img
                [src]="show ? SlashEyeIcon : eyeIcon"
                class="float-end"
                width="20"
                height="20"
                alt=""
                (click)="show = !show"
            /></span>
          </div>

          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.required" class="error-label">
              Password is Required
            </div>
            <div *ngIf="password.errors?.invalidPassword" class="error-label">
              Please provide minimum 6 charactor which should include 1
              Uppercase 1 lowercase and 1 digit
            </div>
          </div>
        </div>
        <div class="row g-0 mt-2 mb-4">
          <input
            class="form-check-input"
            id="condition"
            type="checkbox"
            formControlName="conditioncheck"
          />
          <label
            for="condition"
            class="form-check-label lead fs-6 col-10 col-lg-10 col-sm-12"
            >By creating or logging into an account you are agreeing with our
            <a class="link-dark fw-bold text-decoration-none"
              >Term & Condition </a
            >and<a class="link-dark fw-bold text-decoration-none">
              Privacy Policys</a
            >
          </label>
          <div
            *ngIf="
              conditioncheck.invalid &&
              (conditioncheck.dirty || conditioncheck.touched)
            "
          >
            <div
              *ngIf="conditioncheck.errors?.checkRequired"
              class="error-label"
            >
              Please select by clicking the checkbox
            </div>
          </div>
        </div>
        <button
          class="w-100 btn btn-primary btn-lg submit-btn-color"
          [disabled]="!loginForm.valid"
        >
          Next
        </button>
      </form>
    </div>
  </div>

  <div class="mt-3 text-center link-primary custom-text-color">
    <a>Signin with Company SSO</a>
  </div>
</div>
